* {
    margin: 0;
    padding: 0;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.navbar-custom,
.navbar-nav {
    background-color: #001070;
}

.navbar-custom {
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
}

.navbar-nav {
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
}

.navbar-brand {
    margin-right: 50px;
    /* Ajouter un espacement entre l'image et les éléments du menu */
}

.nav-item {
    margin: 0 15px;
    /* Ajouter un espacement entre les éléments du menu */
}

.navbar-brand img {
    height: 75px;
}

.profil-photo {
    position: relative;
    width: 100%;
    height: auto;
    perspective: 1000px;
    /* Perspective pour effet 3D */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Photo reculée */
.profil-photo img {
    width: 80%;
    transform: translateZ(-200px);
    /* Photo reculée en arrière-plan */
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
    /* Ombre interne pour effet de profondeur */
    border-radius: 10px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.profil-photo .border-layer {
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

/* Couche la plus proche */
.profil-photo .border-layer:nth-child(1) {
    width: 90%;
    height: 90%;
    transform: translateZ(-50px);
}

/* Couche intermédiaire */
.profil-photo .border-layer:nth-child(2) {
    width: 95%;
    height: 95%;
    transform: translateZ(-100px);
    border: 2px solid rgba(255, 255, 255, 0.4);
}

/* Couche plus profonde */
.profil-photo .border-layer:nth-child(3) {
    width: 100%;
    height: 100%;
    transform: translateZ(-150px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Interaction : photo remonte légèrement */
.profil-photo:hover img {
    transform: translateZ(-100px);
    /* La photo avance un peu */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.profil-card {
    width: 100%;
    /* Largeur adaptative pour petits écrans */
    max-width: 600px;
    /* Largeur maximale pour les grands écrans */
    margin: 0 auto;
    /* Centre la carte */
    padding: 20px;
    /* Espacement interne */
    border-radius: 15px;
    /* Coins arrondis */
    color: black;
    /* Couleur du texte */
    overflow: hidden;
    /* Cache le débordement */
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    /* Gradient léger */
    background-size: 200% 200%;
    /* Taille du gradient pour l'animation */
    animation: gradientMove 40s ease-in-out infinite;
    /* Animation fluide */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Ombre subtile */
}

/* Ajustements spécifiques aux petits écrans */
@media (max-width: 768px) {
    .profil-card {
        padding: 15px;
        /* Moins de padding sur mobile */
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        /* Ombre plus légère */
    }
}


.profil-description,
.profil-grade,
.profil-card h3 {
    border-radius: 15px;
}

.hidden {
    display: none !important;
}


/* Animation du mouvement circulaire des couleurs de fond */
@keyframes gradientMove {
    0% {
        background-position: 100% 100%;
        background-color: #fbc02d;
    }

    25% {
        background-position: 200% 0%;
        background-color: #ff5722;
    }

    50% {
        background-position: 300% 100%;
        background-color: #388e3c;
    }

    75% {
        background-position: 400% 0%;
        background-color: #2196f3;
    }

    100% {
        background-position: 500% 100%;
        background-color: #fbc02d;
    }
}

.profil-card.Découverte {
    background: linear-gradient(45deg, #c1c1c1, #f8f8f8, #c1c1c1, #f8f8f8);
}


.profil-card.Blanc {
    background: linear-gradient(45deg, #c1c1c1, #f8f8f8, #c1c1c1, #f8f8f8);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Jaune {
    background: linear-gradient(45deg, #fbc02d, #ffeb3b, #fbc02d, #ffeb3b);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.JauneOrange {
    background: linear-gradient(45deg, #ffe600, #ff6200, #ffb300, #ff9800);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Orange {
    background: linear-gradient(45deg, #ff5722, #ff7043, #ff5722, #ff7043);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.OrangeVerte {
    background: linear-gradient(45deg, #ff9800, #4caf50, #ff9800, #4caf50);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Verte {
    background: linear-gradient(45deg, #28b52f, #41ff47, #388e3c, #43a047);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Vertebleu {
    background: linear-gradient(45deg, #00ffe5, #4caf50, #009688, #4caf50);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Bleu {
    background: linear-gradient(45deg, #2196f3, #005091, #2196f3, #42a5f5);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.BleuMarron {
    background: linear-gradient(45deg, #1976d2, #6d4c41, #1976d2, #6d4c41);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Marron {
    background: linear-gradient(45deg, #ff4101, #6b2f2f, #a95b41, #170f0c);
    background-size: 300% 300%;
    /* Augmente la taille du fond pour accentuer le mouvement de l'animation */
    animation: gradientMove 6s ease infinite;
    /* Animation plus rapide pour accentuer l'effet */
}

.profil-card.Noire1erdan {
    background: linear-gradient(45deg, #212121, #ffd700, #212121, #ffd700);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Noire2emendan {
    background: linear-gradient(45deg, #212121, #ffd700, #212121, #ffd700);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Noire3emendan {
    background: linear-gradient(45deg, #212121, #ffd700, #212121, #ffd700);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Noire4emendan {
    background: linear-gradient(45deg, #212121, #ffd700, #212121, #ffd700);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Noire5emendan {
    background: linear-gradient(45deg, #212121, #ffd700, #212121, #ffd700);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-card.Noire6emendan {
    background: linear-gradient(45deg, #212121, #ffd700, #212121, #ffd700);
    background-size: 300% 300%;
    animation: gradientMove 6s ease infinite;
}

.profil-photo img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


.profil-info {
    margin-top: 15px;
    text-align: center;
    /* Alignement du texte de la description */
}

/* Pour écrans de moins de 768px */
@media (max-width: 768px) {
    .profil-card {
        width: 100%;
        /* Occupe toute la largeur */
        height: auto;
        /* S'adapte au contenu */
    }

    .profil-photo img {
        width: 90%;
        /* Ajuste la taille de l'image */
        margin: 0 auto;
        /* Centre sur l'écran */
    }

    .profil-name {
        font-size: 24px;
        /* Réduit légèrement la taille */
    }

    .profil-description {
        font-size: 14px;
        /* Texte plus petit pour mobile */
    }

    .custom-btn {
        font-size: 14px;
        /* Réduit les boutons */
        padding: 10px;
    }
}


.profil-name {
    font-size: 30px;
    background: linear-gradient(#f0f0f0, #CBCBCB);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.profil-description {
    font-size: 16px;
    /* Taille du texte un peu plus grande */
    margin-top: 10px;
    color: black;
    /* Texte en noir */
    text-align: center;
}

/* Style pour la section de mise à jour */
.profil-update-section {
    margin-left: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fafafa;
    margin-top: 30px;
}

.profil-update-section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}



/* Image de profil */


/* Section de texte avec fond flouté */
.profil-info {
    position: relative;
    margin-top: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    /* Fond semi-transparent pour l'effet flou */
    border-radius: 10px;
    backdrop-filter: blur(5px);
    /* Flou du fond */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profil-grade {
    font-size: 20px;
    /* Plus grand pour le nom */
    background: linear-gradient(#f0f0f0, #CBCBCB);
    padding: 5px 10px;
    /* Ajuste l'espacement autour du texte */
    border-radius: 5px;
    /* Coins arrondis pour un effet esthétique */
    text-align: center;
    color: black;
    /* Couleur du texte */
    font-weight: bold;
    /* Style en gras */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Ombre subtile */
}

.profil-description {
    font-size: 16px;
    color: black;
}

.profil-update-section .form-row {
    margin-bottom: 15px;
}

input.form-control:focus,
select.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5);
}

.page-title {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
    color: #333;
}

/* Conteneur de la liste de sponsors */
.sponsors-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

/* Carte du sponsor */
.sponsor-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sponsor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

/* Nom du sponsor */
.sponsor-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2196f3;
    margin-bottom: 10px;
}

.profil-container {
    margin-right: 5px;
    flex-direction: column;
    gap: 30px;
}


.sponsor-logo img {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
}

/* Description du sponsor */
.sponsor-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

/* Lien vers le site web du sponsor */
.sponsor-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2196f3;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.sponsor-link:hover {
    background-color: #1976d2;
}

/* Message quand aucun sponsor n'est trouvé */
.no-sponsor {
    text-align: center;
    color: #888;
    font-size: 1.2rem;
}

.main-link {
    color: white !important;
}

.banner-image {
    width: 100%;
    object-fit: cover;
    /* Recouvre la zone en ajustant le contenu */
}

/* Styles généraux des sections */
.section {
    display: flex;
    align-items: center;
    padding: 50px 0;
    gap: 30px;
}

/* Section générale */
.activities,
.club-values,
.coach {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
    flex-wrap: wrap;
    /* Permet de mieux gérer le wrapping en petits écrans */
}

/* Contenu texte dans chaque section */
.activities-content,
.club-values-content,
.coach-content {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 500px;
}

/* Images des sections */
.activity-image,
.club-image,
.coach-image {
    flex: 1;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}

/* Ajustements pour les petits écrans */
@media (max-width: 767px) {

    .activities,
    .club-values,
    .coach {
        flex-direction: column;
        /* Les sections deviennent verticales sur petits écrans */
        gap: 20px;
    }

    .activities-content,
    .club-values-content,
    .coach-content {
        max-width: 100%;
        /* Le texte prend toute la largeur disponible */
        padding: 15px;
    }

    .activity-image,
    .club-image,
    .coach-image {
        max-width: 100%;
        /* Les images ne dépassent pas la largeur de leur colonne */
    }

    /* Optionnel: cacher certaines images dans certaines sections */
    .activities-content img,
    .club-values-content img,
    .coach-content img {
        display: none;
        /* cacher les images sur les écrans très petits si nécessaire */
    }
}



/* Ajouter des animations AOS si nécessaire */
[data-aos="fade-left"],
[data-aos="fade-right"],
[data-aos="fade-down"] {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

[data-aos].aos-animate {
    opacity: 1;
}

.fondbanniere {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.rounded-background {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.privacy-policy {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    /* Fond doux pour le conteneur */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.privacy-policy h1 {
    color: #2b3a42;
    /* Couleur d'accentuation pour le titre principal */
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1em;
}

.privacy-policy h2 {
    color: #4a6572;
    /* Couleur subtile pour les sous-titres */
    font-size: 1.5rem;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    border-left: 4px solid #2b3a42;
    /* Barre à gauche pour accentuer les sections */
    padding-left: 10px;
}

.privacy-policy p {
    margin-bottom: 1em;
}

.privacy-policy ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 1.5em;
}

.privacy-policy ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 0.8em;
}

.privacy-policy ul li::before {
    content: '•';
    color: #2b3a42;
    /* Couleur d'accentuation pour les puces */
    position: absolute;
    left: 0;
}

.privacy-policy strong {
    color: #2b3a42;
}

.privacy-policy main {
    padding: 20px;
}

.custom-btn {
    background-color: #f4f4f4;
    color: #333;
    border: 2px solid #333;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.custom-btn:hover {
    background-color: #333;
    color: black;
    border-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-btn01 {
    background-color: #f4f4f4;
    color: red;
    border: 2px solid #333;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.custom-btn02 {
    background-color: #f4f4f4;
    color: purple;
    border: 2px solid #333;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.custom-btn:hover {
    background-color: #333;
    color: white;
    border-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-backdrop.show {
    backdrop-filter: blur(100px);
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-item img {
    transition: transform 0.3s ease-in-out;
}

.carousel-inner img {
    object-fit: contain;
}

.navbar-toggler {
    border: 1px solid #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}